---
import Technology from "./Technology.astro"
import type { ITechnology } from "../../interfaces/Interface";

const { typeTech, techList } = Astro.props;
---

<div class="grid lg:grid-cols-1 xl:grid-cols-1 gap-8 mb-10">
  <div class="neomorphism dark:neomorphism-dark p-8 rounded-2xl">
    <h3 class="text-2xl font-bold mb-6 text-primary-600 dark:text-primary-400">
      {typeTech}
    </h3>
    <div class="flex flex-wrap justify-center items-center gap-4">
      {
        techList.map((tech: ITechnology) => {
          return <Technology name={tech.name} icon={tech.icon} />
        })
      }
    </div>
  </div>
</div>
